# EmailJS - Obtenez vos clés sur https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_jstq28n
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_ajxn1we
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=LU2X23i5USCoEVoefnUBz
